ul.pagination {
  display: flex;
  justify-content: center;
  margin-top: 8rem;

  @include breakpoint($tablet-bp) {
    margin-top: 5rem;
  }
}

.pagination__item {
  margin: 0 .5rem;
}

.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #0d0d0d;
  box-shadow: 0 0 10px rgba($black, .15);
  border-radius: 3px;
  color: $white;
  font-size: 1.4rem;
  line-height: 4rem;
  text-align: center;
  transition: background-color .2s linear;

  &.active {
    background-color: $blue;
    box-shadow: 0 0 10px rgba($black, .15);
  }

  &:hover {
    background-color:lighten(#0d0d0d, 3%);
  }
}